<%= image_tag @content.cover.url(:medium) %>

<p>
  <%= @content.titolo %>
</p>

<p>
  <%= @content.descrizione %>
</p>

<p>
  <%= @content.prezzo %>
</p>
<% if current_user == @content.user %> 
<%= link_to 'Modifica ', edit_content_path(@content) %> 
<% end %>
<%= link_to 'Indietro ', contents_path %>
